*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	max-width: 1519px;
  }

.body_img{
	width: 1519px;
	height: 900px;
	position: fixed;
	z-index: -100;
	top: -90px;
	
}

.container{
	max-width: 1519px;
	height: 50px;
	background-color: rgba(0, 255, 255, 0.15);
	display: flex;
	justify-content: end;
	margin: 30px;
	border-radius: 50px;
}

.container a{
	font-family: "montserrat";
	font-weight: 700;
	font-size: 17px;
	color: #ffffff;
	text-decoration: none;
	margin-right: 50px;
	line-height: 20.72px;
	letter-spacing: 0%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container a:hover{
	color: #000000;
}

.container button{
	width: 147px;
	height: 35px;
	background-color: #ffffff;
	border-radius: 30px;
	font-family: "montserrat";
	font-weight: 700;
	font-size: 15px;
	line-height: 18.29px;
	letter-spacing: 0%;
	color: #000000;
}

.container button:hover{
	background-color: #000000;
	color: #ffffff;
	border: none;
}

.section_1_box{
	width: 100%;
	height: 800px;
	display: flex;
	padding: 60px 30px 30px 30px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	margin-left: 80px;
	padding-bottom: 100px;
}

.bxl-500px{
	font-size: 100px;
	
}

.section_1_text h3{
	font-family: "raleway";
	font-weight: 700px;
	font-size: 40px;
	line-height: 46.96px;
	letter-spacing: 0%;
	margin-bottom: 54PX;
	color: #ffffff;
}

.section_1_text h1{
	font-family: "raleway";
	font-weight: 700px;
	font-size: 80px;
	line-height: 93.92px;
	letter-spacing: 0%;
	color: #ffffff;
}

.section_1_text p{
	font-family: "raleway";
	font-weight: 800;
	font-size: 25px;
	line-height: 29.35px;
	letter-spacing: 0%;
	color: #909090;
}

.section_1_icons{
	display: flex;
	gap: 32px;
}

.section_1_icons div{
	width: 61px;
	height: 56px;
	border: 2px solid aqua;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

.section_1_icon .bx{
	padding: 10px;
	border-radius: 50%;
	font-size: 40px;
	color: aqua;
}

.section_1_icon .bx:active{
	color: #000000;
	background-color: aqua;
}


.section_1_icon:active{
	color: #000000;
	background-color: aqua;
	border: 2px solid black;
}

.section_1_icon .bx:hover{
	color: #000000;
	background-color: aqua;
}


.section_1_icon:hover{
	color: #000000;
	background-color: aqua;
	border: 2px solid black;
}



.section_1_nav{
	display: flex;
	align-items: center;
	background-color: rgba(0, 255, 255, 0.15);
	margin: 30px;
	border-radius: 50px;
}

.img{
	width: 500px;
	height: 500px;
	border-radius: 1000px;
}

.box-img{
border: none;
outline: none;
color: #fff;
cursor: pointer;
position: relative;
z-index: 0;
border-radius: 1000px;
padding: 10px;
margin-right: 50px;
}

.box-img::before{
content: "";
background: linear-gradient(45deg, aqua, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
position: absolute;
top: -5px;
left:-5px;
background-size: 10000%;
z-index: -1;
width: calc(100% + 4px);
height: calc(100% + 4px);
filter: blur(20px);
animation: glowing 20s linear infinite;
transition: opacity .1s ease-in-out;
border-radius: 10000px;
opacity: 1;
}

@keyframes glowing {
0% {
	background-position: 0 0;
}
50% {
	background-position: 400% 0 ;
}
100% {
	background-position: 0 0;
}
}

.section_2{
	height: 320px;
	display: flex;
	justify-content: end;
	align-items: center;
	background-color: rgba(0, 255, 255, 0.15);
	margin: 30px;
	border-radius: 50px;
}

.section_2 h1{
	height: 63px;
	font-family: "montserrat";
	font-weight: 700;
	font-size: 30px;
	line-height: 36.57px;
	letter-spacing: 18.54%;
	color: #ffffff;
}

.section_2 p{
	height: 89px;
	font-family: "open sans";
	font-weight: 400;
	font-size: 14px;
	line-height: 20.8px;
	letter-spacing: 0%;
	color: #ffffff;
	text-align: justify;
	margin-bottom: 26px;
}

.section_2 button{
	width: 139px;
	height: 32px;
	border-top: none;
	border-bottom: none;
	border-right: 2px solid;
	border-left: 2px solid;
	color: #ffffff;
	background: none;
}

.section_2 button:hover{
	background-color: aqua;
	color: #000000;
}

.section_2_logo img{
	width: 380px;
	height: 320px;
}

.section_2_text{
	margin-left: 60px;
	position: absolute;
	top: 990px;
	left: 80px;
}

.section-3{
	height: 2850px;
	background-color: rgba(0, 255, 255, 0.15);
	margin: 30px;
	border-radius: 50px;
}

.section-3__box{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.section-3__text{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.section-3__text__text{
	width: 404px;
	height: 107px;
	font-family: "montserrat";
	border: 8px solid #ffffff;
	font-family: "montserrat";
	font-weight: 700;
	font-size: 30px;
	line-height: 38.37px;
	letter-spacing: 8px;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 142px;
	margin-bottom: 71px;
}

.section-3__text__p{
	font-family: "montserrat";
	font-weight: 400;
	font-size: 15px;
	line-height: 20.8px;
	letter-spacing: 0%;
	color: #ffffff;
	margin-bottom: 67px;
}

.section-3__text button{
	width: 139px;
	height: 32px;
	border-top: none;
	border-bottom: none;
	border-right: 2px solid;
	border-left: 2px solid;
	color: #ffffff;
	background: none;
	margin-bottom: 85px;
}

.section-3__line{
	margin-bottom: 110px;
}

.section-3__text button:hover{
	background-color: aqua;
	color: #000000;
}

.section-3__text__2{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.section-3__text__2__1{
	display: flex;
	margin-bottom: 90px;
	/* justify-content: center; */
	/* align-items: center; */
}

.section-3__text__2__2{
	margin-bottom: 110px;
}

.section-3__text__2 h1{
	font-family: "montserrat";
	font-weight: 700;
	font-size: 22px;
	line-height: 26.82px;
	letter-spacing: 18.54%;
	color: #ffffff;
	margin-bottom: 20px;
	
}

.section-3__text__2__1{
	gap: 200px;
}

.section-3__text__2 p{
	font-family: "open sans";
	font-weight: 300;
	font-size: 14px;
	line-height: 19.07px;
	letter-spacing: 0%;
	color: #ffffff;
	text-align: justify;
}

.section-3__png_h1{
	font-family: "montserrat";
	font-weight: 700;
	font-size: 30px;
	line-height: 36.57px;
	letter-spacing: 4px;
	color: #ffffff;
	margin-bottom: 80px;
}

.section-3__png__img__box{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 150px;
	margin-bottom: 105px;
}

.section-3__png__img__box22{
	margin-left: -50px;
}

.section-3__png__img__box21{
	margin-left: -60px;
}

.section-3__png__img__box23{
	margin-left: -15px;
}


.section-3__png__img{
	display: flex;
	align-items: center;
	flex-direction: column;
}

.section-3__png__img p{
	font-family: "montserrat";
	font-weight: 400;
	font-size: 24px;
	line-height: 29.26px;
	letter-spacing: 13.54%;
	color: #ffffff;
	margin-top: 30px;
	text-align: center;
}

.section-3__png__img1{
	margin-left: -30px;
}

.section-3__png__img2{
	margin-left: -40px;
}

.section-3__png__img3{
	margin-left: -20px;
}

.section-3__png__img4{
	margin-left: 50px;
}

.section-4{
	height: 321px;
	margin: 30px;
	border-radius: 50px;
  background-image: url(../img/360_F_291716289_us2Pjt5Kh9XJtch3JCTQw5e1EV7nz0ok.jpg);
  background-repeat: no-repeat;
  background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

.section-4__text h1{
	width: 404px;
	height: 107px;
	border: 8px solid #000000;
	font-family: "montserrat";
	font-weight: 700;
	font-size: 30px;
	line-height: 38.37px;
	letter-spacing: 6px;
	color: #000000;
	background-color: rgba(255, 255, 255, 0.2);
	display: flex;
	justify-content: center;
	align-items: center;
}

.section-5__box{
	width: 587px;
	height: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 45px;
	margin-bottom: 30px;
	margin-top: -60px;
}

.section-5__box h1{
	width: 149px;
	height: 48px;
	font-family: "montserrat";
	font-weight: 600;
	font-size: 14px;
	line-height: 17.07px;
	letter-spacing: 0%;
	color: #ffffff;
	border-bottom: #ffffff 2px solid;
	display: flex;
	justify-content: center;
	align-items: center;
}

.section-5__box h1:hover{
	color: aqua;
	border-bottom: aqua 2px solid;
}

.section-6{
	height: 805px;
	margin: 30px;
	border-radius: 50px;
	background-color: rgba(0, 255, 255, 0.15);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.section-6__img__box{
	display: flex;
	align-items: center;
}

.section-6__img img{
	width: 486px;
	height: 310px;
}

.section-6__text h1{
	font-family: "montserrat";
	font-weight: 600;
	font-size: 20px;
	line-height: 24.38px;
	letter-spacing: 0%;
	color: #ffffff;
	margin-top: 20px;
	margin-bottom: -70px;
}

.section-6__img__text{
	position: absolute;
	top: 4700px;
	left: 610px;
	text-align: center;

}

.section-6__img__text__p{
	font-family: "montserrat";
	font-weight: 600;
	font-size: 10px;
	font-style: italic;
	line-height: 12.19px;
	letter-spacing: 2px;
	color: #ffffff;
}

.section-6__img__text h1{
	font-family: "montserrat";
	font-weight: 700;
	font-size: 25px;
	line-height: 31.97px;
	letter-spacing: 2.5px;
	color: #ffffff;
	margin-top: 20px;
	margin-bottom: 20px;
}

.section-6__img__text p{
	font-family: "montserrat";
	font-weight: 500;
	font-size: 10px;
	line-height: 12.19px;
	letter-spacing: 0%;
	color: #ffffff;
}


.section-6__btn button{
	width: 114px;
	height: 27px;
	font-family: "montserrat";
	font-weight: 600;
	font-size: 12px;
	line-height: 14.63px;
	letter-spacing: 3px;
	color: #ffffff;
	background-color: rgba(0, 255, 255, 0);
	border-left: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
	border-top: none;
	border-bottom: none;
	margin-top: 20px;
	margin-left: 15px;
	margin-right: 15px;
}

.section-6__btn button:hover{
	color: aqua;
	border-left: 1px solid aqua;
	border-right: 1px solid aqua;
}


.section-7{
	margin: 30px;
	border-radius: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: rgba(0, 255, 255, 0.15);
}

.section-7__text{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 50px;
}

.section-7__text h1{
	width: 370px;
	height: 107px;
	border: 8px solid #ffffff;
	font-family: "montserrat";
	font-weight: 700;
	font-size: 30px;
	line-height: 38.37px;
	letter-spacing: 8px;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 90px;
	margin-bottom: 50px;
}

.section-7__text p{
	font-family: "montserrat";
	font-weight: 400;
	font-size: 15px;
	line-height: 20.8px;
	letter-spacing: 0%;
	color: #ffffff;
	margin-top: 20px;
	margin-bottom: 60px;
}




@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
@import url("https://use.fontawesome.com/releases/v6.5.1/css/all.css");

@property --a {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

.box {
  position: relative;
  width: 1460px;
  height: 200px;
  background: repeating-conic-gradient(
    from var(--a),
    #ff2770 0%,
    #ff2770 5%,
    transparent 5%,
    transparent 40%,
    #ff2770 50%
  );
  filter: drop-shadow(0 15px 50px #000);
  border-radius: 20px;
  animation: rotating 4s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

@keyframes rotating {
  0% {
    --a: 0deg;
  }

  0% {
    --a: 360deg;
  }
}

.box::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: repeating-conic-gradient(
    from var(--a),
    #45f3ff 0%,
    #45f3ff 5%,
    transparent 5%,
    transparent 40%,
    #45f3ff 50%
  );
  filter: drop-shadow(0 15px 50px #000);
  border-radius: 20px;
  animation: rotating 4s linear infinite;
  animation-delay: -1s;
}

.box::after {
  content: "";
  position: absolute;
  inset: 4px;
  background: #2d2d39;
  border-radius: 15px;
  border: 8px solid #25252b;
}

.box:hover {
  width: 1460px;
  height: 500px;
}

.box:hover .login {
  inset: 40px;
}

.box:hover .loginBx {
  transform: translateY(0px);
}

.login {
  position: absolute;
  inset: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  background: #00000033;
  color: #fff;
  z-index: 1000;
  box-shadow: inset 0 10px 20px #00000080;
  border-bottom: 2px solid #ffffff80;
  transition: 0.5s;
  overflow: hidden;
}

.loginBx {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 70%;
  transform: translateY(126px);
  transition: 0.5s;
}

h2 {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.2em;
}

h2 i {
  color: #ff2770;
  text-shadow: 0 0 5px #ff2770, 0 0 20px #ff2770;
}

input {
  width: 100%;
  padding: 10px 20px;
  outline: none;
  border: none;
  font-size: 1em;
  color: #fff;
  background: #0000001a;
  border: 2px solid #fff;
  border-radius: 30px;
}

input::placeholder {
  color: #999;
}

input[type="submit"] {
  background: #45f3ff;
  border: none;
  font-weight: 500;
  color: #111;
  cursor: pointer;
  transition: 0.5s;
}

input[type="submit"]:hover {
  box-shadow: 0 0 10px #45f3ff, 0 0 60px #45f3ff;
}

.group {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.group a {
  color: #fff;
  text-decoration: none;
}

.group a:nth-child(2) {
  color: #ff2770;
  font-weight: 600;
}

.section-8{
	height: 326px;
	margin: 30px;
	border-radius: 50px;
	background-color: rgba(0, 255, 255, 0.15);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	margin-bottom: 100px;
}

.section-8__btn{
	margin-bottom: 44px;
}

.section-8__btn a{
	text-decoration: none;
}

.bx-chevrons-up{
	font-size: 40px;
	color: #ffffff;
	margin-bottom: 7px;
}

.bx-chevrons-up:hover{
	color: aqua;
}

.section-8__btn h1{
	font-family: "montserrat";
	font-weight: 700;
	font-size: 20px;
	line-height: 18.29px;
	letter-spacing: 1.8px;
	color: #ffffff;
	text-decoration: none;
}

.section-8__btn h1:hover{
	color: aqua;
}

.section-8__box{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin-bottom: 44px;
}

.section-8__box .bx{
	padding: 10px;
	border-radius: 50%;
	font-size: 50px;
	color: rgb(255, 255, 255);
}

.section-8__box .bx:hover{
	color: aqua;
}


.section-8__text h1{
	font-family: "nunito";
	font-weight: 700;
	font-size: 18px;
	line-height: 24.55px;
	letter-spacing: 0%;
	color: #ffffff;
}

.section-8__text span{
	font-family: "nunito";
	font-weight: 400;
	font-size: 18px;
	line-height: 24.55px;
	letter-spacing: 0%;
	color: #ffffff;
}
